<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{HTTP:X-Forwarded-Proto} =http
	RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

	RewriteCond %{HTTP:X-Forwarded-Proto} =http
	RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]

	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

	RewriteRule ^browserconfig.xml?$ browserconfig.php [NC,L]
	RewriteRule ^site.webmanifest?$ manifest.php [NC,L]

	RewriteRule ^home/?$ index.php?r=home [NC,L]

	RewriteRule ^orcamento/?$ index.php?r=orcamento [NC,L]

	RewriteRule ^produto-x/?$ index.php?r=produto-x [NC,L]

	RewriteRule ^/?$ index.php [NC,L]

</IfModule>
